<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screening Deleted</title>
</head>
<body>
    <h1>Screening Deleted Successfully</h1>
    <p>{{ screening_info }}</p>
    <button onclick="issueRefund()">Issue Refund</button>
    <script>
        function issueRefund() {
            // Add logic to issue a refund to customers
            alert('Refund issued to customers!');
        }
    </script>
</body>
</html>
